ion-toolbar {
    --background: #fff;
    --border-color: #fff;
}

ion-button{
    :host{
        .button-block {
            span{
                justify-content: initial;
            }
            
        }
    }
    
}