<ion-header   class="ion-no-border">
  <ion-toolbar>
   
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button title="Cerrar" (click)="CloseModal('close')">
        <ion-icon color="green" size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list-header>
  
  </ion-list-header>
  <ion-item>
   <ion-label position="stacked"></ion-label> 
    <ion-input [(ngModel)]="email" type="email" placeholder="Correo electronico"></ion-input>
  </ion-item>
  <small style="color:red; margin-left: 20px;" *ngIf="validaEmail"> <ion-icon name="close"></ion-icon> Correo no valido</small><br>
  <br>
</ion-content>

<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
  <ion-button expand="block" color="green" (click)="send()" [disabled]="!validForm">Enviar</ion-button>
</ion-footer>