<ion-app>
  <ion-split-pane contentId="main-content">
  
    <ion-menu contentId="main-content"  (ionDidOpen)="getInfoLogged()">
      <ion-header>
        <ion-toolbar>
           <ion-list-header><h4>Bienvenido</h4> </ion-list-header>
          
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list-header>{{user.name}}</ion-list-header>
        <ion-note>{{user.email}}</ion-note>
        <ion-list id="inbox-list">
          <!--<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>-->
          
          <app-folders [folders]="folders$ | async"></app-folders>
          <!--<ion-menu-toggle auto-hide="false" *ngFor="let folder of folders$ | async; trackBy: trackByFn">
            <ion-item lines="none" detail="true" >
              <ion-icon name="folder-outline" size="large" slot="start" [ngStyle]="{'color':folder.color}"></ion-icon>              
              <ion-label>{{ folder.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>-->
          
        </ion-list>

       
      </ion-content>
      <ion-footer  class="ion-no-border">
        <ion-toolbar>
          <ion-button color="green" expand="block" (click)="openModal()">Nueva categoria</ion-button>
        </ion-toolbar>
        
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
