<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-list-header>
            <h4>Bienvenido</h4>
          </ion-list-header>
          <ion-buttons slot="end">
            <!-- <ion-button>
               <ion-icon size="large" name="help-circle-outline"></ion-icon>
             </ion-button>-->
             <ion-button (click)="openSettings()">
               <ion-icon color="green" name="settings"></ion-icon>
             </ion-button>
       
           </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-sidebar></app-sidebar>


      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-button color="green" expand="block" (click)="openModal()">Nueva categoria</ion-button>
        </ion-toolbar>

      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>